.about-well-color{
	background: linear-gradient(to bottom, #0099ff 0%, #19c589 100%);
	color: #e6e6e6 ;
}
.portfolio-color{
	background: #001a33;
}
.contact-color{
	background: #19c589;
}

.about-color{
	background: #0099ff;
}

.jumbotron{
	text-align: center;
}
.jumbotron img{
    display:block;
	height: 300px;
    margin-left:auto;
    margin-right:auto;
}
.thumbnail {
      padding: 0 auto;
	  display: block;
      border: 1px solid #001a33;   
  }
  
.thumbnail>img {
	height: 300px;
	margin: auto;
	padding: auto;
	display:block;
}

.line{
  width: 60%;
  border: 2px solid #e6e6e6;
  display: inline-block;
  position: center;
  margin-bottom: 30px;
}

.img-border{
	border: 2px solid #e6e6e6;
	border-radius: 50%;
	margin: 5px;
}

.jumbotron-border-bottom{
	border-bottom: 2px solid #0099ff;
}
.jumbotron-margin-top{
	margin-top: 30px;
}
section{
	margin: 0 auto;
	padding: 0 auto;
}
body{
	background: linear-gradient(to bottom, #336699 0%, #ccffff 100%);
}

.contact-text-style{
	font-size: 18px;
	color: #e6e6e6;
}
.about-text-style{
	font-size: 18px;
	color: #001a33;
}


/* Add a hover effect (blue shadow) */
.thumbnail:hover {
    box-shadow: 0 0 30px 5px rgba(25, 197, 137, 0.5);
}
.img-border:hover {
    box-shadow: 0 0 16px 5px rgba(25, 197, 137, 0.5);
}

.fa{
    padding: 15px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {   
  background:#e6e6e6;
  color: #19c589;
}
.fa-linkedin{
  background: #0066ff;
  color: #e6e6e6;
}
.fa-github{
  background: #1f1f7a;
  color: #e6e6e6;
}
.fa-free-code-camp{
  background: #00b300;
  color: #e6e6e6;
}
.fa-codepen{
  background: #0d0d0d;
  color: #e6e6e6;
}
.fa:hover {   
  background:#e6e6e6;
  color: #19c589;
}
#free-code-camp{
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    width: 58px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
#fa-awesome{
    padding: 15px auto;
    font-size: 30px;
    width: 58px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.navbar{
  background: #0F1626;
  font-size: 20px;
  padding: 10px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #e6e6e6;
	
   
}
.navbar-inverse .navbar-nav > li > a:hover {
          color: #e6e6e6;
    background: #19c589;
	transition-duration: 1s;
   
}
.navbar-inverse .navbar-nav > .active  {
    color: #e6e6e6;
    background: #19c589;
}
 
 .navbar-inverse .navbar-nav > .active > a, 
 .navbar-inverse .navbar-nav > .active > a:hover, 
 .navbar-inverse .navbar-nav > .active > a:focus {
          color: #e6e6e6;
    background: #19c589;
	transition-duration: 1s;
   } 
   
/*.navbar-inverse .navbar-nav > li > a:focus {
    color: #8a0e0b;
}*/


.navbar-inverse .navbar-toggle {
    border-color: #19c589;
}
.projects-container{
  height: auto;
  width: auto;
}

ul>li{
	padding-left: 10px;
	padding-right: 10px;
}

ul {
  list-style-type: none;
}
.brand{
  font-size: 24px;
  font-family: Lobster,Helvetica;
}
.scroll{}
.text-area{
	max-width:100%;
	max-height: 250px;
}





